
<%# 背景を変更したいがうまくいかないコード %>
<%# <%= provide(:background, 'autumn-red.jpeg') %>
<h1 class="main_title">Fall Blog</h1>
<% if logged_in? %>
  <%= render 'microposts/new' %>
<% else %>
  <%= image_tag 'cute-portrait.jpeg', alt:"logo", class:"main_image" %>
  <div class="header-right-cell "> <%= link_to "新規登録", signup_path %> </div>
<% end %>
